# HALI data analysis

* missing number in each cluster

# Code Detail

In [1]:
# install.packages('readstata13')
# install.packages('geeM')
# install.packages('jomo')
# install.packages('knitr')

In [3]:
library(readstata13) # library for read in the dataset
library(lme4) # library for GLM
library(geeM)
library(jomo)
library(knitr)

### Read in data

the full dataset named dat

In [4]:
setwd('/Users/yaolanqiu/Documents/HALI/DATA')
dat <- read.dta13('HALI_CLASS1_2539_MASTER_EDUC_FU1_FU2_LONG_accounts_withdrawals_BL_AS_COV_AND_OTHER_COV_17.11.2016.dta',
                  nonint.factors = TRUE, generate.factors=TRUE)

In [5]:
dim(dat)

[1] 5078  220

### we only focused on 9 month data

the data with only 9 month named data0

In [6]:
data0 <- dat[dat$visit=='9-month FU',]
dim(data0) # 2539 220

[1] 2539  220

### select the input variables

In [7]:
dat0 <- data0[,c("school_id","LIT_grp",
                 "BL_gll21_total", 'age_child','sex',
                 'schlevel_comp',"BL_ses",
                 "gll21_total")]
rownames(dat0) <- NULL
dim(dat0) # 2539 8

[1] 2539    8

### remove the data with missing covariates

In [8]:
dat1 = dat0[(is.na(dat0$school_id) == 0 & 
      is.na(dat0$LIT_grp) == 0 &
      is.na(dat0$BL_gll21_total) == 0 &
      is.na(dat0$age_child)== 0 & 
      is.na(dat0$sex) == 0 & 
      is.na(dat0$schlevel_comp) == 0 &
      is.na(dat0$BL_ses) ==0) ,]
rownames(dat1) = NULL
dim(dat1) # 2465 8

[1] 2465    8

In [9]:
dat1$missing = is.na(dat1$gll21_total)

dat_int = dat1[dat1$LIT_grp=='yes',]
dat_col = dat1[dat1$LIT_grp=='no',]

In [10]:
table(aggregate(dat_int[, 'missing'], list(dat_int$school_id), sum)$x)

 0  1  2  3  4  5  6  7  8  9
 2  8 18  8  5  4  1  3  1  1

In [12]:
mean(aggregate(dat_int[, 'missing'], list(dat_int$school_id), sum)$x)
sd(aggregate(dat_int[, 'missing'], list(dat_int$school_id), sum)$x)

[1] 2.980392

[1] 2.034603

In [11]:
table(aggregate(dat_col[, 'missing'], list(dat_col$school_id), sum)$x)

 0  1  2  3  4  5  6 10
 4  9 11  6 12  6  1  1

In [13]:
mean(aggregate(dat_col[, 'missing'], list(dat_col$school_id), sum)$x)
sd(aggregate(dat_col[, 'missing'], list(dat_col$school_id), sum)$x)

[1] 2.86

[1] 1.895322